spring:
  cloud:
    function:
      definition: preProcess|process|postProcess
    stream:
      function:
        definition: preProcess|process|postProcess
      bindings:
        preProcess|process|postProcess-in-0:
          destination: FunctionComposition.Q
        preProcess|process|postProcess-out-0:
          destination: function/composition/topic
      solace:
        bindings:
          preProcess|process|postProcess-in-0:
            consumer:
             queueAdditionalSubscriptions: pub/sub/plus/>
      binders:
        local-solace:
          type: solace
          environment:
            solace:
              java:
                host: tcp://localhost:55555
                msgVpn: default
                clientUsername: default
                clientPassword: default
server:
  port: 8096                                