<div id='wrap_all'>
    <div class="header-container">
        <header id="header" role="banner" itemscope="itemscope">
          <span class="logo">
            <a href="/">
              <img src="{{ "/template/images/solace-logo-white.png" | prepend: site.baseurl }}" alt="Solace PubSub+ Cloud" width="140px">
            </a>
          </span>
          <nav class="menu" data-selectname="Select a page" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
            <ul id="header-menu-list" class="menu-list">
              <!--
              <li id="menu-toggle" class="menu-toggle">
                  <i class="fa fa-bars"></i>
              </li>
              -->
              <li id="menu-features" class="menu-item menu-item-underline">
                <a href="/features/" itemprop="url">Features</a>
              </li>
              <li id="header-menu-pricing" class="menu-item menu-item-underline">
                <a href="/pricing/" itemprop="url">Pricing</a>
              </li>
              <li id="header-menu-learn" class="menu-item menu-item-underline">
                <a href="/learn/" itemprop="url">Learn</a>
              </li>
              <li id="header-menu-sales" class="menu-item menu-item-underline">
                <a href="/contact-us/" itemprop="url">Talk to Sales</a>
              </li>
              <li id="header-menu-signup" class="menu-item menu-item-highlight">
                <a href="https://solace.com/try-it-now/" itemprop="url">Try PubSub+</a>
              </li>
              <li id="header-menu-login" class="menu-item menu-item-underline">
                <a href="https://console.solace.cloud/login/" itemprop="url">Log In</a>
              </li>
            </ul>
          </nav>
        </header>
    </div>
</div>
